*{
    margin: 0;
    padding: 0;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
img {
    max-width: 100%;
}
h3 {
    font-size: 25px;
    line-height: 30px;
    margin: 10px 0;
}
p {
    font-size: 15px;
    line-height: 20px;
    margin: 10px 0;
}
.cmn_sect_inn {
    padding: 40px 0;
    text-align: center;
}
.cmn_box_wrp {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 40%;
    border: 1px solid #cdc9c9;
    padding: 20px;
    margin: 20px;
    min-height: 232px;
    line-height: 220px;
}
.center-wrp {
    display: inline-block;
    vertical-align: middle;
}
.cmn_box_wrp figure {
    width: 250px;
    margin: 10px auto;
    display: flex;
}